* {
  margin: 0;
}
html
{
  scroll-behavior: smooth;
}

#f1 {
  
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  width:100%;
  height: 60px;
  background-color: black;
  border-style: solid;
  /* border-color: red; */
  text-decoration: none;
  display: flex;
  /* border-radius: 10px; */
  justify-content: space-between;
  padding:   0px 20px;
 position: relative;
 position: fixed;
 z-index: 100;
}
.options {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  /* background-color: red; */
  border-radius: 5px;
  padding: 2px;
}
.div1 {
  display: flex;
  align-items: center;
  /* padding-left: 100px; */
  /* gap: 44%; */
  border-radius: 5px;
  /* background-color: blue; */
  gap: 50px;
  width: 100%;
  justify-content: end;
   /* margin-left: 300px; */
  margin-right: 50px;
}
#name {
  display: flex;
  align-items: center;
  letter-spacing: 10px;
  /* padding-left: 3%; */
}


.home-section {
  display: flex;
  background-color: rgba(0, 0, 0, 0.663);
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 70%;
  border-radius: 20px;
}
.home-title {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 45%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding-left: 10px;
  text-align: start;
  width: 70%;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
}
.home-image {
  height: 300px;
  padding-left: 5px;
  border-radius: 20px;
}

#f2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
  /* border-radius: 10px; */
}
.page2 {
  display: flex;
  justify-content: start;
  gap: 40px;
  opacity: 80%;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: black;
  height: 60vh;
  padding: 40px;
  border-radius: 10px;
  color: white;
  /* text-align:center ; */
}

.page2 i {
  line-height: 30px;
  font-weight: bold;
  font-size: large;
  text-align:justify;

}
#f3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}

.page3{
  display: flex;
  justify-content: center;
  gap: 20%;
  opacity: 80%;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: black;
  height: 60vh;
  padding: 40px;
  border-radius: 10px;
  color: white;
}
.img{
  display: flex;
  gap: 50px;
}
#f4{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}
.page4{
  display: flex;
  justify-content: center;
  gap: 10%;
  opacity: 80%;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: rgb(0, 0, 0);
  height: 60vh;
  padding: 40px;
  border-radius: 10px;
  color: white;
}
.img2{
  border-style:solid;
  

}
#f5{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:lightblue ;
}
.page5{
  display: flex;
  justify-content: center;
  gap: 10%;
  opacity: 80%;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: rgb(0, 0, 0);
  height: 60vh;
  padding: 40px;
  border-radius: 10px;
  color: white;
}

.page5 form{
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: rgb(179, 174, 174);
  padding: 10px;
  height: 200px;
  width: 400px;
  
}
.footer{
  height: 20vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

}
.thanku{
  color: white;
  
}

